@font-face {
  font-family: 'Barlow Condensed Regular';
  src: url('../../assets/fonts/Barlow_condensed/BarlowCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed Bold';
  src: url('../../assets/fonts/Barlow_condensed/BarlowCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Bold';
  src: url('../../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  src: url('../../assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald Bold';
  src: url('../../assets/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
}
