@font-face {
  font-family: 'Barlow Condensed Regular';
  src: url('/fonts/Barlow_condensed/BarlowCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow Condensed Bold';
  src: url('/fonts/Barlow_condensed/BarlowCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Bold';
  src: url('/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald Bold';
  src: url('/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
}
