@import 'global';

body {
  background-color: $blue-extra-dark;
}

h1 {
  @include heading-h1();
  text-transform: uppercase;
}

h2 {
  @include heading-h2();
  text-transform: uppercase;
}

h3 {
  @include heading-h3();
  text-transform: uppercase;
}

h4 {
  @include heading-h4();
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.nav-title {
  @include font-base($font-family-oswald-bold, bold, 500);
  color: $white;
  font-size: 1.5rem; // 24x
  line-height: 133.1%;
  text-align: left;
  @include respond-to(mobile) {
    font-size: 1.125rem; // 18px
  }
}

.nav-menu-item {
  @include font-base($font-family-barlow-bold, bold, 500);
  color: $white;
  font-size: 0.938rem; // 15x
  line-height: 133.1%;
  text-align: left;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.nav-container {
  margin-top: 1.313rem;
  @include respond-to(desktop) {
    max-width: 1440px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
    height: 100%;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111111;
  }
  .nav-menu-item--launch {
    // width: 12.313rem; //197px
    height: 2.688rem; //43px
    padding: 16px 32px;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
    cursor: pointer;
    // border: 1px solid $dark-white;
    background: $pink;
    img {
      width: 0.813rem; // 13px
      height: 0.813rem; // 13px
    }
  }
  .nav-menu-item--launch:hover {
    background-color: $dark-white;
    color: $blue-extra-dark;
  }
}

// Footer
footer {
  @include text-body();
  // max-width: 1324px;
  // padding: 0;
  // margin: 0;
  .footer_container {
    display: flex;
    margin: 0 5rem 5rem 5rem;
    padding: 3rem;
    background-color: $blue-extra-light;
    height: 11rem;
    align-items: center;
    border-radius: 50px;
    p {
      margin-bottom: 0;
    }
  }
  .footer__social-container {
    margin-left: auto;
    a {
      padding-left: 3rem;
      color: $gray-dark;
    }
  }
}

// Main Component
.main-container {
  .section-container {
    // padding-top: 3.625rem; // 58px
    // padding-bottom: 3.625rem; // 58px
    margin-bottom: 6.5rem; // 104px
    margin-top: 6.5rem; // 104px
    margin-right: 3.625rem; // 58px
    margin-left: 3.625rem; // 58px
  }
  h1 span {
    color: $pink;
  }
  h2 span {
    color: $pink;
  }
  .caption-text-large {
    @include font-base($font-family-source, bold, 500);
    color: $gray-dark;
    font-size: 1.563rem; // 25x
    line-height: 149%;
    text-align: left;
    letter-spacing: -0.01em;
    @include respond-to(mobile) {
      font-size: 1.125rem; // 18px
    }
  }
  .caption-text-small {
    @include font-base($font-family-source, bold, 500);
    color: $gray-dark;
    font-size: 1.5rem; // 24x
    line-height: 133.1%;
    text-align: left;
    @include respond-to(mobile) {
      font-size: 1.125rem; // 18px
    }
  }
  .launch-button {
    max-width: 19.625rem; // 314px
    height: 4.813rem; // 77px
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $pink;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-base($font-family-barlow-bold, bold, 500);
    font-size: 1.625rem; // 26px
    color: $dark-white;
    text-transform: uppercase; 
    @include respond-to(mobile) {
      font-size: 17.938rem; // 287px
    }
    img {
      width: 2.188rem; // 35px
      height: 2.063rem; // 33px
    }
  }
  .main-top {
    // padding-right: 100px;
    display: flex;
    flex-direction: column-reverse;
    @include respond-to(desktop) {
      flex-direction: row;
    }
  }
  .main-top__left-container {
    display: flex;
    flex: 1;
    justify-content: center;
    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    h1, p {
      text-align: center;
    }
    
    @include respond-to(desktop) {
      width: 50%;
      padding-right: 3.125rem; // 50px
      div {
        margin-left: 30%;
        display: flex;
        justify-content: center;
        align-items: left;
        h1, p {
          text-align: left;
          margin-right: auto;
        }
        a {
          margin-right: auto;
        }
      }
      
      h1 {
        // margin-left: 30%;
      }
    }
  }
  .main-top__right-container {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: $blue-extra-light;
    border-top-left-radius: 3.125rem; // 50px
    border-bottom-left-radius: 3.125rem; // 50px
    
    @include respond-to(tablet) {
      background-color: unset;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      flex: 1;
    }
    @include respond-to(desktop) {
      width: 47%;
      margin-left: auto;
      background-color: $blue-extra-light;
      border-top-left-radius: 3.125rem; // 50px
      border-bottom-left-radius: 3.125rem; // 50px
    }

    img {
      padding: 77px;
      width: 100%;
      // height: 100%;
      max-width: 35.688rem;
      max-height: 42.688rem;
    }
  }
  // Why Sommelier
  .main-why {
    background-color: $blue-extra-light;
    border-top-right-radius: 3.125rem; // 50px
    border-bottom-right-radius: 3.125rem; // 50px
    margin-left: 0;
    margin-right: 3rem;
    padding: 4rem 0 4rem 0;
  }
  .main-why__content {
    margin-top: 45px;
  }
  .main-why__content__img-container {
    width: 30%;
    margin-right: auto;
    img {
      width: 100%;
      height: 100%;
      max-width: 14.75rem;
      max-height: 33.625rem;
    }
  }
  .main-why__right-container {
    width: 70%;
    padding-right: 3.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    li {
      float: left;
      width: 50%;
      padding: 20px;
      h4 {
        text-transform: uppercase;
      }
    }
    p {
      @include text-body();
    }
  }

  // Use Cases
  .main-usecases {
    h2 {
      margin-left: calc(30% - 3.625rem);
    }
    .main-usecases__content {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      li {
        float: left;
        width: 50%;
        min-height: 26rem;
        
        h3 {
          margin-top: 2.5rem; // 40px
          text-transform: uppercase;
        }
        div {
          // width: 98%;
          // height: 98%;
          height: 28rem;
          margin: 13px;
          padding: 46px 90px 42px 90px;
          background-color: $blue-extra-light;
          border-radius: 3.125rem; // 50px
        }
      }
      p {
        @include text-body();
        margin-top: 1.625rem; // 26px
        display: block;
        max-width: 26.313rem; // 421px
      }
    }
  }
  // Roadmap
  .main-roadmap {
    h2 {
      text-align: center;
      margin-bottom: 4.688rem; // 75px
    }
    
  }
  .main-roadmap__content {
    margin-left: 3rem;
    padding: 3.125rem 3rem 3.125rem 0;
    background-color: $blue-extra-light;
    border-top-left-radius: 3.125rem; // 50px
    border-bottom-left-radius: 3.125rem; // 50px
    display: flex;
    justify-content: center;
    img {
      width: 35px;
    }
    .main-roadmap__content__q-left {
      flex: 1;
      flex-direction: column;
      display: flex;
      align-items: flex-end;
      padding-right: 4.25rem;
      div {
        margin-top: 21.2rem;
      }
      h3 {
        text-align: right;
      }
      p {
        @include text-body();
        text-align: right;
      }
    }
    .main-roadmap__content__q-right {
      flex: 1;
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      padding-left: 4.25rem;
      .main-roadmap__content__q-right__1 {
        margin-top: 7.6rem;
      }
      .main-roadmap__content__q-right__2 {
        margin-top: 16.3rem;
      }
      h3 {
        text-align: left;
      }
      p {
        @include text-body();
        text-align: left;
      }
    }
  }
  // About
  .main-about {
    display: flex;
    margin-left: -3.625rem;
    .main-about__left {
      flex: 1;
    }
    .main-about__right {
      padding-left: 15rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        @include text-body();
        margin-top: 2.125rem; // 24px
      }
    }
  }
  // Team
  .main-team {
    h2 {
      text-align: center;
    }
    .margin-team__top {
      
    }
    .main-team__top ul {
      display: flex;
      justify-content: center;
      margin: 0;
      margin-top: 4.4rem;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      li {
        width: 33%;
        .profile-container {
          margin: 13px;
        }
      }
    }
    .main-team__down ul {
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        width: 50%;
        .profile-container {
          margin: 13px;
        }
      }
    }
  }
  // Investors
  .main-investors {
    .main-investors__img-container {
      margin-top: 6.125rem;
      text-align: center;
      img {
        padding-left: 3.635rem;
        height: 100%;
      }
    }
  }
}

